<%# locals: (weather_data: nil) %>
<div id="current-weather">
	<% if weather_data.present? %>
		<div>Weather for: <%= weather_data[:data].name %></div>
		<div>Date: <%= format_datetime(weather_data[:data].dt) %></div>
		<div>Humidity: <%= weather_data[:data].main.humidity %></div>
		<div>Pressure: <%= weather_data[:data].main.pressure %></div>
		<div>Max temp: <%= weather_data[:data].main.temp_max_f %></div>
		<div>Min temp: <%= weather_data[:data].main.temp_min_f %></div>
	<% end %>
</div>
