<%# locals: (weather_data:) %>
<div id="current-weather">
	<div>Weather for: <%= weather_data.name %></div>
	<div>Date: <%= format_datetime(weather_data.dt) %></div>
	<div>Humidity: <%= weather_data.main.humidity %></div>
	<div>Pressure: <%= weather_data.main.pressure %></div>
	<div>Max temp: <%= weather_data.main.temp_max_f %></div>
	<div>Min temp: <%= weather_data.main.temp_min_f %></div>
</div>